.map-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-window {
  position: relative;
  font-family: Arial, sans-serif;
  padding: 5px;
  max-width: 200px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.detail-link {
  display: block;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
